@import"../abstracts/variables.scss";
@import '../abstracts/mixins.scss';

#main-header {
   background-color: $gray3;
   height: 40px;

   #top-logo{
      height: 24px;
      width: 61px;
      background-color: $gray1;
      margin: auto;
   }

   #button {
      height: 30px;
      width: 38px;
      justify-self: end;
      margin: auto;
      margin-right: 0;
   }

   #burger-con {
      display: none;
   }

   #burger-con.slide-toggle {
      display: block;
   
      height: 100vh;
      width: 100vw;
      background-color: $gray1;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
   }

   #burger-con ul li {
      width: 400px;
      height: 50px;
      background-color: $gray2;
      display: flex;
      padding: 0.625rem 0 0.625rem 0;
   
      margin-top: 3rem;
      margin-left: 100px;
   }


   @include tablet {
      height: 70px;

      #top-logo {
         height: 40px;
         width: 99px;
      }

      #button {
         height: 35px;
         width: 42px;
      }
   }

   @include  desktop {
      height: 94px;

      #top-logo {
         height: 79px;
         width: 190px;

         margin-top: 10px;
      }

      #button {
         display: none ;
      }

      #burger-con {
         display: flex;

         ul {
            margin-top: 50px;
         }
         
         ul li {
         width: 100px;
         height: 33px;
         background-color: $gray2;

         display: inline-flex;

         }
      }
   }
}

#main-hero  {
   #hero-logo {
      width: 327px;
      height: 219px;

      margin-top: 90px;
      background-color: $gray4;
      margin-left: auto;
      margin-right: auto;
   }
}