@import"../abstracts/variables.scss";
@import '../abstracts/mixins.scss';

// @use 'burgerCon.scss';

#header-con {
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #fffbf2eb;
   z-index: 150;

   height: 3rem;
   box-shadow: 0px 4px 5px 1px #3b2b0c4d;
   -webkit-box-shadow: 0px 4px 5px 1px #3b2b0c4d;
   -moz-box-shadow: 0px 4px 5px 1px #3b2b0c4d;


   .sticky-nav-con {
   
   margin-top: 3px;
   z-index: 130;

   #top-logo{
      height: 1.5rem;
      width: 3.8125rem;
      margin: auto;
   }

   #burger-con {
      display: none;
   }


   #burger-con.slide-toggle {
      display: block;
   
      height: 100vh;
      width: 100vw;
      background-color: #40331A;
      position: absolute;
      z-index: 90;
      top: 0;
      left: 0;
   }

   #burger-con ul li {
      width: 18rem;
      transition: all 0.5s ease;
      // height: 3.125rem;
      color: #fff;
      display: flex;
      padding: 0.625rem 0 0.625rem 0;
   
      margin-top: 6rem;
      margin-left: 4rem;

      a {
         text-decoration: none;
         color: #fff;
      }

      &:hover {
         border-bottom: #fff .5px solid;
         transition: width 1s ease-in-out;
      }

      
   }


   @include tablet {
      // height: 4.375rem;

      #top-logo {
         height: 2.5rem;
         width: 6.1875rem;
      }

      #button {
         height: 2.1875rem;
         width: 2.625rem;
      }
   }

   @include desktop {


      #top-logo {
         // height: 72px;
         // width: 154px;
         margin-top: auto;
      }
   
   
      #burger-con.navbar{

         margin-top: auto;
         margin-bottom: auto;
         display: inline-flex;

         justify-self: flex-end;
         padding-top: 10px;
      
         & ul li{
         display: inline; 
         margin-left: 3.1875rem;
         // padding-top: 50px;
   
         &:first-child {
            margin-left: 0;
         }
   
   
         & a {
            text-decoration: none;
            color: $main-font-color;
            font-size: 15px;
   
         }
   
         }
   
         .navigation .menu a {
            text-decoration: none;
            display: inline-block;
            position: relative;
            color: #000;
            overflow: hidden;
   
   
            padding-bottom: 5px;
          }
          
          .navigation .menu a::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #000;
            transition: width 0.5s ease;
          }
          
          .navigation .menu a:hover::before {
            width: 100%;
          }
          
      }
   }
}
   

}

