@import"../abstracts/variables.scss";
@import '../abstracts/mixins.scss';

#sticky-nav-con {
   background-color: $gray3;
}

#main-header {
   height: 2.5rem;

   #top-logo{
      height: 1.5rem;
      width: 3.8125rem;
      background-color: $gray1;
      margin: auto;
   }

   #button {
      height: 1.875rem;
      width: 2.375rem;
      justify-self: end;
      margin: auto;
      margin-right: 0;
   }

   #burger-con {
      display: none;
   }

   button.expanded {
      position: absolute;
      z-index: 100;
   }

   #burger-con.slide-toggle {
      display: block;
   
      height: 100vh;
      width: 100vw;
      background-color: $gray1;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
   }

   #burger-con ul li {
      width: 25rem;
      height: 3.125rem;
      background-color: $gray2;
      display: flex;
      padding: 0.625rem 0 0.625rem 0;
   
      margin-top: 3rem;
      margin-left: 6.25rem;
   }


   @include tablet {
      height: 4.375rem;

      #top-logo {
         height: 2.5rem;
         width: 6.1875rem;
      }

      #button {
         height: 2.1875rem;
         width: 2.625rem;
      }
   }

   @include  desktop {
      height: 90px;

      #top-logo {
         height: 72px;
         width: 154px;

         margin-top: auto;
      }

      #button {
         display: none ;
      }

      #burger-con {
         display: flex;

         ul {
            margin-top: 3.125rem;
         }
         
         ul li {
         width: 6.25rem;
         height: 2.0625rem;
         background-color: $gray2;

         display: inline-flex;
         justify-self: flex-end;
         margin-left: 3.1875rem;
         margin-top: 0;

         &:first-child {
            margin-left: 0;
         }

         }
      }
   }
}



