@forward 'typography';
@import"../abstracts/variables.scss";

body {
   background: #F5F0E6;
   font-family: 'adedisplay';
   color: $main-font-color;

   position: relative;
   scroll-behavior: smooth;
}