@import"../abstracts/variables.scss";
@import '../abstracts/mixins.scss';


   @font-face {
      font-family: 'adedisplay';
      src: url('/fonts/ade-display-webfont.woff2') format('woff2'),
           url('/fonts/ade-display-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  
  }

@include desktop {
   html {
      font-size: 120%;
   }

}