@import"../abstracts/variables.scss";
@import '../abstracts/mixins.scss';


body {
   font-family: 'adedisplay','arial';
}
@include tablet {
   html {
      font-size: 110%;
   }

}

@include desktop {
   html {
      font-size: 120%;
   }

}