@import"../abstracts/variables.scss";
@import '../abstracts/mixins.scss';


#about-hero {
   margin-top: 70px;
   padding-top: 80px;
   margin-bottom: 100px;

   background: no-repeat;
   background-image: url(/images/shape.svg);
   background-position: right 100%; 

   .hi-text h3{
      margin-left: 20px;
      margin-bottom: 20px;

      font-size: 40px;
      font-weight: 500;

      @include reveal
   }

   #aboutMe {
      margin-left: 70px;
      height: 250px;
      width: 450px;
   }

   #about-p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      text-align: center;
      line-height: 17px;

      padding: 0 30px;
      margin-top: 20px;
   }
   
}

#intro {
   margin-top: 50px;

   .intro-p {
      font-size: 15px;
      text-align: left;
      line-height: 17px;

      margin-top: 50px;
      margin-bottom: 65px;

      p {
         font-family: Arial, Helvetica, sans-serif;
         padding-top: 15px;
         padding: 0 10px;
      }
   }
}

@include desktop {

   body {
      margin-top: 100px;
      font-size: 130%;
   }

   #about-hero {
      
   .hi-text h3 {
      font-size: 60px;
   }

   #about-p {
      padding-top: 50px;

   }


}


}