@import"../abstracts/variables.scss";
@import '../abstracts/mixins.scss';

#main-hero  {
   margin-top: 5.625rem;
   #hero-logo {
      width: 20.4375rem;
      height: 13.6875rem;

      margin-left: auto;
      margin-right: auto;
   }  

   #hero-t-1 {
      margin-top: 6.875rem;
      padding-left: 20px;
      font-size: 40px;
   }

   #hero-t-2 {

      font-size: 27px;
      margin-top: 2.5rem;
      margin-left: 1.5rem;
      padding-left: 3rem;

      text-align: right;
      &:first-child {
         padding-left: 6.25rem;
      }
      &:last-child {
         padding-left: 3.125rem;
      }
   }


   @include tablet{
      #hero-logo{
      width: 36.4375rem;
      height: 24.4375rem;
      }

      #hero-t-1 {
         margin-top: 85px;
         justify-self: center;
         font-size: 50px;
      }
      #hero-t-2 {
         justify-self: center;
         font-size: 40px;
      }
   }

   @include desktop{
      margin-top: 10rem; 

      #hero-logo{
      width: 36.25rem;
      height: 23.875rem;

      grid-row: 1/3;
      }

      #hero-t-1 {
         justify-self: end;
         grid-row:1/2;
         margin-top: 0;
         font-size: 70px;
      }
      #hero-t-2 {
         margin-top: 50px;
         margin-left: 0;
         grid-row: 2/4;

         // &:last-child {
         //    padding-left: 100px;
         // }
      }
   }
}



#looping-t {

   height: 2.5rem;
   margin-top: 7.3125rem;
   border-top: 2px solid #3B2B0C;
   border-bottom: 2px solid #3B2B0C;
   background-color: #fffbf2;

   display: flex;
   white-space: nowrap;

   .infinity_inside {
      display: flex;
      align-items: center;
      -webkit-animation: loop 30s infinite linear;
      animation: loop 30s infinite linear;

      font-size: 15px;
      line-height: 15px;

      #dot {
         padding: 20px 20px;
         text-align: center;
      }
   }

   @keyframes loop {
      100% {
         -webkit-transform: translateX(-100%);
         transform: translateX(-100%);
      }
   }

   @include tablet {
      height: 3.625rem;
      margin-top: 9rem;
   }
   @include desktop {
      height: 6.25rem;
      margin-top: 10.1875rem;
      font-size: 30px;
   }
}



#desc-me{
   margin-top: 4.375rem;
   text-align: center;

   #dec-title {

   font-size: 20px;
   line-height: 25px;
   text-transform: uppercase;

   justify-self: center;

   }
   #desc-p {
      height: 5.625rem;
      font-family: Arial, Helvetica, sans-serif;

      // width: 18.9375rem;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      padding: 10px 10px;
   }

   #my-photo{
      justify-self: center;
      margin-right: auto;
      overflow: hidden;
      margin-top: 50px;

      .photo {

      // height: 9.5625rem;
      // width: 18.125rem;

      // position: absolute;
      justify-self: center;


      }
   }

   .contact-button {
      position: relative;
      display: flex;
      margin-top: 50px;
      justify-self: center;
      a {
         width: 9.1875rem;
         height: 35px;
         border-radius: 20px;
         border: none ;
         cursor: pointer;
         padding-top: 12px;

         background-color: #3B2B0C;

         text-align: center;
         font-family: 'adedisplay';
         text-transform: uppercase;

         font-size: 13px;
         text-decoration: none;
         color: #fffbf2;

         &:hover {
            // transform: translate3d(0px, 100%, 0px) rotateX(75deg);
            transition: all .5s ease-in-out;
            font-weight: 700;

         }
      }
         :hover {
            box-shadow: inset #fffbf2 3rem 8rem;
            transition: all .7s ease-in-out;
            color: #3B2B0C;
            transform: scale(1.1);
         }      
   }

   @include tablet {
      #desc-me {
         margin-top: 100px;
      }
      .contact-button a{
         height: 50px;
         width: 200px;
         border-radius: 30px;
         padding-top: 20px;
         margin-top: 50px;
      }

   }
   @include desktop {
      #dec-title{
         font-size: 50px;
         line-height: 60px;
         text-align: center;
      }
      #desc-me {
         font-size: 25px;
         line-height: 30px;
      }
   }
}

#demo-reel {
   margin-top: 5.625rem;
   margin-bottom: 5.625rem;
   display: flex;

}



#projects {
   margin-top: 5rem;

   #showcase-title {

      font-size: 25px;
      text-transform: uppercase;
      margin-bottom: 30px;
   }

   .project {
      height: 22.875rem;
      width: 375px;

      margin-top: 10px;

      // #project2 {
      //    background-color: $gray3;}
      // #project3 {background-color: $gray4;}
      // #project4 {background-color: $gray2;}

      @include tablet {
         height: 366px;

      }

      @include desktop {
         height: 490px;
         width: 502px;
      }

      // .pj-title {
      //    width: 6.0625rem;
      //    height: 1.1875rem;
      //    margin-top: 2.75rem;
      //    background-color: white;
      // }
      }

}